{% extends 'main.html' %} 


{% block context %}
<h1 class="text-center">User List</h1>

<div class="row">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">User Name</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <th scope="row">{{user.id}}</th>
          <td>{{user.user_name}}</td>
          <td>
            <a
              class="btn btn-sm btn-danger"
              href="{% url 'userdelete' user.id %}"
              >Delete</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-5">
    <form action="" method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="name" class="form-label">User Name</label>
        {{form.user_name}}
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        {{form.password}}
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

{% endblock context %}